footer{
    background: #f9f9f9;
    padding-top: 100px;
    .top_footer {
        .logo_footer {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .logo{
                width: max-content;
            }
            .desc_ft{
                width: calc(100% - 130px);
                font-size: 24px;
                display: flex;
                // padding-top: 70px;
                align-items: center;
                padding-left: 40px;
                height: 100%;
            }
        }
        .title{
            font-size: 24px;
            font-family: 'BauhausStd-Medium';
            margin-bottom: 50px;
        }
        .link_cat_product {
            .list_category{
                display: flex;
                flex-wrap: wrap;
                .item{
                    line-height: 36px;
                    width: calc(100%/3);
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
        .quick_link{
            li{font-size: 18px; line-height: 36px; font-weight: 600;}
        }
    }
    .bootom_footer {
        border-top: 1px solid black;
        padding: 0;
        margin-top: 70px;
        padding-top: 55px;
        p{
            font-size: 24px;
            color: #8f191c;
            line-height: 36px;
            text-align: center;
            width: max-content;

        }
        .bootom_footer_right {
            display: flex;
            justify-content: flex-end;
            .email_number_phone{
                width: max-content;
                p{margin: auto;}
            }
        }
        .bootom_footer_center {
            form{
                p{width: 100%;}
                .your-email input{
                    height: 50px;
                    border: 1px solid #8f191c;
                    padding: 0 15px;
                    outline: none;
                    width: 70%;
                }
                .wpcf7-submit{display: none;}
                .icon_submit{
                    position: absolute;
                    top: 0;
                    right: 20px;
                    cursor: pointer;
                    i{
                        color: #8f191c;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1890px) and (min-width: 1200px){ 
    footer {
        padding-top: 70px;
        .top_footer{
            .logo_footer .desc_ft{
                font-size: 18px;
            }
            .title{
                margin-bottom: 30px;
            }
            .link_cat_product .list_category .item , .quick_link li{
                font-size: 14px;
            }

        } 
        .bootom_footer p {
            font-size: 18px;
        }
    }
}