.header{
    font-size: 24px;
    height: 100px;
    padding: 0 25px;
    background: #f9f9f9;
    .row{
        height: 100%;
        align-items: center;
    }
    .mainmenu{
        display: flex;
        flex-wrap: wrap;
        width: max-content;
        margin: auto;
        li{
            font-size: 24px;
            padding: 0 35px;
            position: relative;
        }
        li.logo_header{
            width: 405px;
            display: flex;
            justify-content: center;
            a{
                color: #ffffff00;
                width: 195px;
                height: 195px;
                display: flex;
                background-size: contain;
                position: absolute;
                z-index: 9;
                top: -18px;
            }
        }
    }
    .header_right {
        .cart_acount{
            display: flex;
            justify-content: flex-end;
            >div{
                display: flex;
                align-items: center;
                >a{
                    display: flex;
                }
            }
            .cart{
                margin-left: 25px;
            }
        }
    }
    .header_left{
        .ic_ins{
            margin-left: 5px;
        }
    }
}
.header_mobile{
    display: flex;
    .logo{
        display: flex;
        width: max-content;
        padding: 10px 0;
        img{max-width: 100px;}
    }
    .menu{
        right: 0;
        position: fixed;
        width: 300px;
        max-width: 90%;
        height: 100vh;
        max-height: 100vh;
        top: 0;
        box-sizing: border-box;
        transition: all 0.6s ease;
        overflow: auto;
        z-index: 9999999999;
        background: #fff;
        /* transform: translateX(100%); */
        /* opacity: 0;*/
        .logo_header {display: none !important;}
        .mainmenu li{width: 100%;font-weight: 600px;}
        .row{margin: 0;}
        .div_acount_mobile{
            background: #ececec;
            padding: 25px 0;
            .icon_acount {
                padding-right: 0;
                .fa{font-size: 40px;color: #8f191c;                }
            }
            .display_hover_mobile {
                display: flex;
                padding-left: 0;
                >div{
                    background: #8f191c;
                    margin: 0 0 0 10px;
                    padding: 5px;
                    color: #fff !important;
                    border-radius: 4px;
                    font-size: 18px !important;
                }
            }
        }
    }
}
@media (max-width: 1890px){
    .header .header_left .icon {display: flex;}
}
@media (max-width: 1890px) and (min-width: 1200px){ 
    .header{ 
        .mainmenu li{font-size: 20px;
            padding: 0 25px;}
        .mainmenu li.logo_header a{width: 165px;
            height: 165px;top: -10px;}
        .header_left {
            display: flex;
            .icon{
                display: flex;
                width: 25px;
            }
        }
        .header_right .cart_acount{ 
            > div{width: 25px ;} 
            .cart{margin-left: 15px;}
        }
    }
}
@media (max-width: 1199px) and (min-width: 1020px){ 
    .header {
        .header_left{display: flex;}
        .header_left .icon , .header_right .cart_acount > div{width: 18px;}
        .mainmenu li{font-size: 18px;    padding: 0 15px;        }
    }
}