 //slide
 .slide{
    .content_slide{
        position: absolute;
        background: #fff;
        top: 0;
        right: 0;
        width: 26%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        .contents{
            img{
                position: absolute;
                right: 0;
                top: 0;
            }
            h1.title {
                font-family: "BauhausStd-Medium";
                font-size: 48px;
                width: max-content;
                &::after{
                    content: '';
                    background: black;
                    width: 100%;
                    display: block;
                    height: 1px;
                    margin: 45px 0;
                }
            }
            .content{
                font-size: 24px;
            }
            .shop_now{
                width: 140px;
                height: 50px;
                display: flex;
                justify-content: center;
                background: #8f191c;
                align-items: center;
                font-size: 18px;
                color: #fff;
                margin-top: 40px;
                margin-bottom: 115px;
                border-radius: 5px 0px 0px 5px;
                position: relative;
                font-family: "BauhausStd-Medium";
                span{
                    position: absolute;
                    right: -52px;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    background: #8f191c;
                    align-items: center;
                    font-size: 26px;
                    color: #fff;
                    border-radius: 0px 5px 5px 0px;
                }
            }
        }
    }
}
//Featured Products
.product-home{
    padding-top: 90px;
    background: #f9f9f9;
    h1.title{
        font-family: "BauhausStd-Medium";
        font-size: 36px;
        margin-bottom: 65px;
        text-align: center;
    }
    .list_product{
        position: relative;
        .swiper-button-next, .swiper-container-rtl .swiper-button-prev{right: -50px;color: #000;}
        .swiper-button-prev, .swiper-container-rtl .swiper-button-next{left: -50px;color: #000;}
        .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after , .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{font-size: 25px;}
    }
}
.woocommerce ul.products {
    li.product {
        text-align: center;
        .woocommerce-loop-product__title{
            font-family: "BauhausStd-Medium";
            font-size: 24px;}
        .price{
            color: #8f191c;
            font-size: 18px;
            font-weight: 600;
        }
    }
}
 //works
 .works{
     background: #fff;
     padding: 80px 0;
    h1.title {
        font-family: "BauhausStd-Medium";
        font-size: 36px;
        margin-bottom: 65px;
        text-align: center;
    }
    .item{
        text-align: center;
        h2.title{
            color: #8f191c;
            font-size: 24px;
            margin-top: 40px;
            font-family: "BauhausStd-Medium";

        }
        p.content{
            font-size: 18px;
            width: max-content;
            margin: auto;
            &::before{
                content: "";
                background: #8f191c;
                width: 110%;
                height: 1px;
                display: block;
                margin: 15px 0;
            }
        }
    }
 }
 //product_cat
 .product_cat{
     background: #f9f9f9;
     padding-top: 80px;
     h1.title{
        font-family: "BauhausStd-Medium";
        font-size: 36px;
        margin-bottom: 65px;
        text-align: center;
     }
     .list_product_cat{
         .title_sp_vnkings{
            height: 60px;
            display: flex;
            align-items: center;
            background: #fff;
            padding: 0 15px;
            position: relative;
             a{
                 font-size: 24px;
                 font-family: 'BauhausStd-Medium';
                 i{
                     position: absolute;
                     right: 15px;
                     font-size: 32px;
                 }
                 &:hover{
                     color: #8f191c;
                 }
             }
         }
         .anh_sp_vnkings{
             img{    display: block;}
         }
         .view_all{
            width: 180px;
            height: 50px;
            display: flex;
            margin: auto;
            justify-content: center;
            background: #8f191c;
            align-items: center;
            font-size: 18px;
            color: #fff;
            margin-top: 40px;
            margin-bottom: 115px;
            border-radius: 5px;
            font-family: 'BauhausStd-Medium';
         }
         .item{
             margin-bottom: 20px;
         }
     }
 }
 //About
 .about_us{
     .row{margin: 0;}
     .content_about {
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
         .content{
            text-align: center;
             .title{
                font-family: 'BauhausStd-Medium';
                font-size: 48px;
             }
             .desc{
                font-size: 24px;
                line-height: 36px;
                &::before{
                    content: "";
                    background: black;
                    width: 80%;
                    height: 1px;
                    display: block;
                    margin: auto;
                    margin-bottom: 45px;
                    margin-top: 45px;
                }
             }
             .button{
                 a{
                    width: 180px;
                    height: 50px;
                    display: flex;
                    margin: auto;
                    justify-content: center;
                    background: #8f191c;
                    align-items: center;
                    font-size: 18px;
                    color: #fff;
                    margin-top: 40px;
                    border-radius: 5px;
                    font-family: 'BauhausStd-Medium';
                 }
             }
         }
     }
     .image_about{
         padding: 0;
        img{width: 100%;}
     }
 }

 @media (max-width: 1890px) and (min-width: 1200px){ 
    .slide .content_slide .contents h1.title{
        font-size: 40px;
        &:after{    margin: 30px 0;}
    }
    .slide .content_slide .contents .content{font-size: 17px;}
    .slide .content_slide .contents .shop_now{height: 40px;font-size: 16px;}
    .slide .content_slide .contents .shop_now span{height: 40px;font-size: 20px;}
    .home{
        .slide{
            max-height: 80vh;
            overflow: hidden;
        }
    }
    .product_cat , .product_cat{padding-top: 60px;}
    .works , {padding: 60px 0;}
    .product_cat .list_product_cat .title_sp_vnkings a i{font-size: 23px;}
    .about_us .content_about .content .desc::before{margin-bottom: 30px; margin-top: 30px;}
    .about_us .content_about .content .desc{font-size: 20px;}
    .woocommerce ul.products li.product .woocommerce-loop-product__title , .product_cat .list_product_cat .title_sp_vnkings a{font-size: 18px;}
    .woocommerce ul.products li.product .price{font-size: 15px;}
 }