
@font-face{
    src:url(../font/Akkurat/Akkurat.ttf);
    font-family: Akkurat;
  }
  @font-face{
    src:url(../font/bauhausstdbold/BauhausStd-Medium.otf);
    font-family: BauhausStd-Medium;
  }
  @font-face{
    src:url(../font/Font-Myriad-Pro/MYRIADPRO-REGULAR.OTF);
    font-family: MYRIADPRO;
  }
body{font-family: 'Akkurat';}
.container{width: 100%; max-width: 1520px;margin: auto;}
.about-page .container{max-width: 1230px;}    
img{max-width:100% ; height: auto;}
@media (max-width: 1890px) and (min-width: 1200px){
  .container{max-width: 1140px !important;}
}
@media (max-width: 1199px) and (min-width: 992px){ 
  .container{max-width: 960px !important;}
}
@media (max-width: 991px) {
  .container{max-width: 720px !important; padding: 0 10px;}
}
@media (max-width: 767px) { .container{max-width: 540px !important;} }
@media (max-width: 576px) { .container{max-width: 100% !important;} }