.about-page{
    .banner{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .content{
            width: max-content;
            background: #fff;
            position: absolute;
            padding: 25px 15px;
            .title{
                font-family: "BauhausStd-Medium";
                font-size: 48px;
                margin-bottom: 20px;
                text-align: center;
            }
            .description{
                font-size: 18px;
                text-align: center;
            }
        }
    }
    .content_page{
        .content{
            padding: 85px 0;
            .content_right {
                padding-left: 65px;
                display: flex;
                align-items: center;
                .box_content_right{
                    .title{
                        font-size: 36px;
                        margin-bottom: 20px;
                        font-family: BauhausStd-Medium;
                    }
                    .description{
                        font-size: 18px;
                        line-height: 35px;
                        font-family: Akkurat;
                    }
                    .contact_us{
                        width: 140px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        background: #8f191c;
                        align-items: center;
                        font-size: 18px;
                        color: #fff;
                        margin-top: 40px;
                        border-radius: 5px 0px 0px 5px;
                        position: relative;
                        font-family: "BauhausStd-Medium";
                        
                        span{
                            position: absolute;
                            right: -52px;
                            height: 50px;
                            width: 50px;
                            display: flex;
                            justify-content: center;
                            background: #8f191c;
                            align-items: center;
                            font-size: 26px;
                            color: #fff;
                            border-radius: 0px 5px 5px 0px;
                        }
                    }
                }
            }
        }
        .content:nth-child(even){
            background: #f9f9f9;
            .row{
                flex-direction: row-reverse;
                .content_right {
                    padding-left: 0px;
                    padding-right: 65px;
                    .box_content_right{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-end;
                        text-align: right;
                        .contact_us{
                            right: 50px;
                        }
                    }
                }
            }
        }
    }
    .slide_page{
        height: 490px;
        display: flex;
        align-items: center;
        position: relative;
        .title{font-size: 36px;text-align: center;color: #fff;    margin-bottom: 15px; font-family: BauhausStd-Medium; }
        .icon{
            font-size: 88px;
            line-height: 50px;
            color: #ffffff70;
            font-family: BauhausStd-Medium;
        }
        .swiper-slide{
            .content{
                width: 830px;
                margin: auto;
                color: #fff;
                margin-bottom: 60px;
                font-size: 14px;
                line-height: 24px;
            }
            .name{
                text-align: center;
                color: #fff;
            }
            .start-ic{color: #fff;margin-bottom: 5px;}
            
        }
        .slider{
            width: 100%;
            max-width: 992px;
            margin: auto;
            z-index: 9;
        }
        .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after,.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
            color: #fff;
            font-size: 20px;
        }
        &::after{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: #8f191c6b;
            position: absolute;
        }
    }
}
//contact page
.contact-page{
    .banner{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .content{
            width: max-content;
            background: #fff;
            position: absolute;
            padding: 25px 15px;
            .title{
                font-family: "BauhausStd-Medium";
                font-size: 48px;
                margin-bottom: 20px;
                text-align: center;
            }
            .description{
                font-size: 18px;
                text-align: center;
            }
        }
    }
    .content_page_contact{
        padding: 90px 0;
        .contact_form {
            form{
                background: #f9f9f9;
                padding: 45px 200px 45px 65px;
                h2{font-size: 36px;    margin-bottom: 20px;                }
                .meta{
                    font-size: 16px;
                }
                input{height: 50px;
                    padding: 15px;
                    width: 100%;
                    }
                input, textarea{border: 1px solid #8f191c;    outline: none;                }
                .your-message{width: 100%;margin-top: 30px;textarea{width: 100%;padding: 15px;}}
                .p-form{
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 50px;
                    .your-name , .your-email{    width: calc(50% - 15px);}
                    .your-name{margin-right: 30px;}
                    
                    }
                    .wpcf7-submit{
                        width: 140px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        background: #8f191c;
                        align-items: center;
                        font-size: 18px;
                        color: #fff;
                        margin-top: 40px;
                        border-radius: 5px 0px 0px 5px;
                        position: relative;
                        font-family: "BauhausStd-Medium";
                        
                    }
                    .input_submit{
                        position: relative;
                        span{
                            position: absolute;
                            left: 142px;
                            top: 0;
                            height: 50px;
                            width: 50px;
                            display: flex;
                            justify-content: center;
                            background: #8f191c;
                            align-items: center;
                            font-size: 26px;
                            color: #fff;
                            border-radius: 0px 5px 5px 0px;
                        }
                    }

            }
        }
        .contact_form_right{
            display: flex;
            align-items: center;
             .back-color{   
                 width: 100%;position: relative;
                .information_form{
                    width: 100%;
                    position: relative;
                    left: -65px;
                    left: -69px;
                    background: #fff;
                    z-index: 99;
                    padding: 75px 15px 15px 75px;
                    p{
                        font-size: 24px;
                        font-weight: bold;
                        margin-bottom: 60px;
                        span{
                            font-size: 18px;color: #747474;margin-bottom: 15px;
                            display: flex;
                        }
                    }
                }
                &:after{
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 25px;
                    left: -45px;
                    display: block;
                    background: #901a1d;
                }
            }
        }
    }
}
//category-page
.category-page{
    .banner{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .content{
            width: max-content;
            background: #fff;
            position: absolute;
            padding: 25px 15px;
            .title{
                font-family: "BauhausStd-Medium";
                font-size: 48px;
                margin-bottom: 20px;
                text-align: center;
            }
            .description{
                font-size: 18px;
                text-align: center;
            }
        }
    }
    .introduce_shop {
        padding: 85px 0;
        .box_introduce {
            position: relative;
            height: 100%;
            img{width: 100%; height: auto;display: block;}
            .content{
                position: absolute;
                bottom: 0;
                width: calc(100% - 20px);
                height: 35%;
                background: #ffffff85;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding-left: 75px;
                .title{font-family: "BauhausStd-Medium";
                    font-size: 40px;
                    margin-bottom: 20px;}
                .description{
                    font-size: 18px;
                }
                .shop_now{
                    width: 140px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    background: #8f191c;
                    align-items: center;
                    font-size: 18px;
                    color: #fff;
                    border-radius: 5px 0px 0px 5px;
                    position: absolute;
                    right: 95px;
                    font-family: "BauhausStd-Medium";
                    span{
                        position: absolute;
                        right: -52px;
                        height: 50px;
                        width: 50px;
                        display: flex;
                        justify-content: center;
                        background: #8f191c;
                        align-items: center;
                        font-size: 26px;
                        color: #fff;
                        border-radius: 0px 5px 5px 0px;
                    }
                }
                &:hover{
                    .title , .description{color: #8f191c;}
                }
            }
        }
    }
    .our_collectionS{
        background: #f9f9f9;
        padding-top: 80px;
        h1.title{
           font-family: "BauhausStd-Medium";
           font-size: 36px;
           margin-bottom: 50px;
           text-align: center;
        }
        .list_product_cat{
            img{width: 100%;}
            .title_sp_vnkings{
               height: 60px;
               display: flex;
               align-items: center;
               background: #fff;
               padding: 0 15px;
               position: relative;
                a{
                    font-size: 24px;
                    font-family: 'BauhausStd-Medium';
                    i{
                        position: absolute;
                        right: 15px;
                        font-size: 32px;
                    }
                    &:hover{
                        color: #8f191c;
                    }
                }
            }
            .anh_sp_vnkings{
                img{    display: block;}
            }
            .view_all{
               width: 180px;
               height: 50px;
               display: flex;
               margin: auto;
               justify-content: center;
               background: #8f191c;
               align-items: center;
               font-size: 18px;
               color: #fff;
               margin-top: 40px;
               margin-bottom: 115px;
               border-radius: 5px;
               font-family: 'BauhausStd-Medium';
            }
            .item{
                margin-bottom: 20px;
            }
        }
    }
    .Shop_by_Room{
        padding-top: 85px;
        h1.title{
            font-size: 36px;font-family: "BauhausStd-Medium"; margin-bottom: 50px;text-align: center;
        }
        .box_introduce_first{
            max-height: 675px;
            overflow: hidden;
        }
        .item{
            position: relative;
            img{display: block;}
            .content{
                position: absolute;
                bottom: 0;
                color: #fff;
                padding: 0 0 30px 45px;
                .number , .title , .description{margin-bottom: 20px;}
                .title{font-family: "BauhausStd-Medium";font-size: 24px;}
                .Learn_More{font-family: "BauhausStd-Medium";font-size: 16px;width: max-content;position: relative;
                 &:after{
                     content: "";
                     background: #fff;
                     width: 100%;
                     height: 1px;
                     display: block;
                     position: absolute;
                 }
                 span{margin-left: 10px;}
                }
            }
        }
        .item-1{
            .content{
                padding: 0 0 60px 75px;
                .title{font-size: 60px;}
                .Learn_More{font-size: 16px;}
            }
        }
        .item-2{margin-bottom: 40px;}
    }
    .works{
        background: #fff;
        padding: 80px 0;
       h1.title {
           font-family: "BauhausStd-Medium";
           font-size: 48px;
           margin-bottom: 50px;
           text-align: center;
       }
       .item{
           text-align: center;
           h2.title{
               color: #8f191c;
               font-size: 24px;
               margin-top: 40px;
               font-family: "BauhausStd-Medium";
   
           }
           p.content{
               font-size: 18px;
               width: max-content;
               margin: auto;
               &::before{
                   content: "";
                   background: #8f191c;
                   width: 110%;
                   height: 1px;
                   display: block;
                   margin: 15px 0;
               }
           }
       }
    }
}
//All category 
.category-all{
    
}
//shop
.post-type-archive-product{
    .banner{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .content{
            width: max-content;
            background: #fff;
            position: absolute;
            padding: 25px 100px;
            .title{
                font-family: "BauhausStd-Medium";
                font-size: 48px;
                margin-bottom: 20px;
                text-align: center;
            }
            .description{
                font-size: 18px;
                text-align: center;
            }
        }
    }
}
@media (max-width: 1890px) and (min-width: 1200px){ 
    //category-page
    .category-page .banner .content .title , .about-page .banner .content .title , .contact-page .banner .content .title{
        font-size: 40px;
    }
    
    .category-page .banner .content , .about-page .banner .content  ,.contact-page .banner .content{
        padding: 10px 15px;
        top: 35%;
    }
    .category-page .introduce_shop .box_introduce .content .title{font-size: 30px;}
    .category-page .introduce_shop .box_introduce .content{padding: 15px 15px 15px 45px;}
    .category-page .introduce_shop .box_introduce .content .shop_now{width: 115px;height: 40px;font-size: 15px;}
    .category-page .introduce_shop .box_introduce .content .shop_now span{height: 40px;    font-size: 20px;    }
    .category-page .our_collectionS , .category-page .Shop_by_Room{padding-top: 60px;}
    .category-page .our_collectionS .list_product_cat .title_sp_vnkings a{font-size: 18px;}
    .category-page .Shop_by_Room .item-1 .content .title {font-size: 45px;}
    .category-page .works h1.title{font-size: 38px;}
    .category-page .our_collectionS .list_product_cat .view_all{margin-bottom: 70px;}
    //contact
    .contact-page .content_page_contact .contact_form_right .back-color .information_form p span{font-size: 16px;}
    .contact-page .content_page_contact .contact_form_right .back-color .information_form p{font-size: 18px;    margin-bottom: 30px;    }
    .contact-page .content_page_contact .contact_form form{    padding: 45px 95px 45px 65px;    }
}