
.woocommerce {
    .banner_top{
        .banner{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .content{
                width: max-content;
                background: #fff;
                position: absolute;
                padding: 25px 15px;
                top: 35%;
                .title{
                    font-family: "BauhausStd-Medium";
                    font-size: 48px;
                    margin-bottom: 20px;
                    text-align: center;
                }
                .description{
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
    }
    .banner_content{
        position: relative;
        display: flex;
        align-items: center;

        .content-banner{
            position: absolute;
            padding-left: 50px;
            .title{
                font-family: "BauhausStd-Medium";
                font-size: 30px;
                margin-bottom: 20px;
                color: #901a1d;
            }
            .description{
                font-size: 16px;
                color: #fff;
                line-height: 25px;
            }
        }
    }
}
//single-product
p.breadcrumbs{
    font-size: 18px;
    font-weight: 600;
    margin: 115px 0 80px 0;
    color: #8a8989;
    .breadcrumb_last{
        color: #333;
        margin-left: 10px;
    }
    a{margin: 0 10px;}
}
.single-product.woocommerce-page {
    div.product div.images , div.product div.summary{
        width: 100%;
    }
    .thumbnail_left {
        .flex-viewport{
            max-height: 380px;
            margin-bottom: 20px;
        }
    }
    .infomation_right {
        padding-left: 55px;
        form.cart{
            .wcpa_form_outer{
                .wcpa_row{
                    .wcpa_form_id_341 {
                        display: flex;
                    }
                    .wcpa_form_item:first-child{
                        >label{
                            margin-right: 25px;
                            min-width: 135px;
                        }
                    }
                    .wcpa_form_id_341 {
                        #text-1613652603378{
                            color: #8f191c;
                            font-size: 30px;
                            line-height: 24px;
                            font-weight: 600;
                        }
                    }
                }
                .wcpa-col-2 {
                    width: 39.5%;
                }
            }
        }

    }
    .tabs_product{
        background: #f9f9f9;
        padding: 70px 0 180px;
        .nice_fit_in_these_rooms{
            position: relative;
            .title{
                font-size: 24px;
                font-family: "BauhausStd-Medium";
                text-align: center;
                margin: 50px 0;

            }
            .swiper-button-next.swiper-button-disabled , .swiper-button-prev.swiper-button-disabled{
                top: calc(100% + 60px);
                background: #e4cccd;
                opacity: 1;
                width: 70px;
                height: 70px;
             }
             .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after , .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
                font-size: 25px;
                color: #8f191c;
             }
            .swiper-button-next.swiper-button-disabled{
                right: calc(50% - 80px);}
            .swiper-button-prev.swiper-button-disabled{
                left: calc(50% - 80px);
            }
        }
        .list_these_rooms {
            .item {
                .content{
                    text-align: center;
                    .title{
                        font-family: "BauhausStd-Medium";
                        font-size: 18px;
                        margin: 15px 0;
                    }
                    .description{
                        font-size: 16px;
                        line-height: 25px;
                    }
                }
            }
        }
    }
    .related_product{
        position: relative;
        .container{position: relative;}
        section.related {
            >h2{font-size: 36px; font-family: "BauhausStd-Medium";text-align: center;margin: 80px 0 70px 0;}
        }
        .swiper-button-next , .swiper-button-prev{color: #333;}
        .swiper-button-next{right: -40px;opacity: 1;}.swiper-button-prev{left: -40px;opacity: 1;}
        .swiper-button-prev:after , .swiper-button-next:after{font-size: 25px;}
    }
}

// Single product
.single-product-content{
    padding: 0 0 80px;
    nav.woocommerce-breadcrumb{
        font-size: 18px;
        a{
            color: #808080;
        }
        color: #181818;
    }
    .product.type-product{
        margin-top: 80px;
        .summary{
            .product_title{
                font-size: 30px;
                font-family: BauhausStd-Medium;
                color: #181818;
                margin-bottom: 15px;
            }
            .woocommerce-product-details__short-description{
                color: #181818;
                font-size: 16px;
                line-height: 25px;
                margin-bottom: 30px;
            }
            .price{
                color: #8f191c;
                font-size: 22px;
                line-height: 24px;
                font-weight: 600;
            }
            .single_add_to_cart_button{
                background-color: #8f191c;
                font-family: BauhausStd-Medium;
                font-size: 18px;
                color: #fff;
                text-transform: uppercase;
            }
        }
    }
    form.cart{
        label{display: flex;align-items: center;font-weight: 600;
            color: #7d7d7d;}
        #text-1613652603378{
            border: none;
        }
    }
    .wcpa_form_outer .wcpa_form_item select , .wcpa_form_outer .wcpa_form_item input[type=number]{
        width: 80px;
        height: 40px;
        border-radius: 10px;
    }
    
}

//all product
.box-sort-phone{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0 50px;
    .woocommerce-ordering{
        float: none;
        margin: 0;
        .orderby{
            outline: none;
            border: 2px solid #e9d1d2;
            border-radius: 0;
            height: 48px;
            color: #901a1d;
            font-size: 16px;
            padding-left: 15px;
            padding-right: 15px;
            appearance: none;
            max-width: 200px;
        }
    }
    .box-sort{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        &:before{
            content: '';
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid #901a1d;
            pointer-events: none;
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
        }
        span{
            display: inline-block;
            font-size: 18px;
            color: #181818;
            font-family: BauhausStd-Medium;
            margin-right: 15px;
        }
    }
    .box-phone{
        text-align: right;
        span{
            display: block;
            font-size: 16px;
            color: #181818;
            font-family: BauhausStd-Medium;
        }
        .phones{
            font-family: BauhausStd-Medium;
            font-size: 24px;
            color: #901a1d;
        }
    }
}

//pagination
.woocommerce nav.woocommerce-pagination{
    ul{
        border: none;
        li{
            border: none;
            margin: 0 2px;
            a{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                font-size: 16px;
                color: #181818;
                &:hover{
                    background: transparent;
                    color: #181818;
                }
            }
            span{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                &.current{
                    background: #901a1d;
                    color: #fff;
                }
            }
        }
    }
}

//sidebar
.woocommerce{
    .widget_price_filter,.woocommerce-widget-layered-nav , .widget_product_categories{
        background-color: #f9f9f9;
        .ui-slider{
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 35px;
        }
        .widget-title{
            background-color: #e9d1d2;
            padding: 10px 35px;
            font-family: BauhausStd-Medium;
            color: #181818;
            font-size: 22px;
            position: relative;
            &:before{
                content: '';
                width: 12px;
                height: 12px;
                border-bottom: 1px solid #901a1d;
                border-right: 1px solid #901a1d;
                position: absolute;
                right: 35px;
                top: calc(50% - 2px);
                transform: translateY(-50%) rotate(45deg);
            }

        }
        .ui-slider-horizontal{
            height: 4px;
            .ui-slider-handle{
                &:nth-child(2){display: none;}
            }
        }
        .price_slider_wrapper .ui-widget-content{
            background-color: #b5b5b5;
        }
        .ui-slider .ui-slider-range{
            background-color: #b5b5b5;
            &:before{
                content: '';
                position: absolute;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: #b5b5b5;
                left: -2px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .ui-slider .ui-slider-handle{
            background-color: #901a1d;
            width: 20px;
            height: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
        .price_slider_wrapper{
            padding: 40px 35px;

        }
        .price_slider_amount{
            text-align: left;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            .button{
                float: none;
            }
            .clear{display: none;}
            .price_label{
                font-size: 18px;
                color: #181818;
                span{opacity: 0.8;}
            }
        }
    }
    #yith-woo-ajax-reset-navigation-2{display: none;}
    .woocommerce-widget-layered-nav-list , .product-categories{
        padding: 20px 35px 40px;
        li{
            font-size: 18px;
            color: #181818;
            a{
                min-width: 50%;
                display: inline-block;
            }
        }
    }
}
.archive{
    p.breadcrumbs{margin: 40px 0 30px 0;}
}