.header {
  font-size: 24px;
  height: 100px;
  padding: 0 25px;
  background: #f9f9f9;
}
.header .row {
  height: 100%;
  align-items: center;
}
.header .mainmenu {
  display: flex;
  flex-wrap: wrap;
  width: -webkit-max-content;
  width: max-content;
  margin: auto;
}
.header .mainmenu li {
  font-size: 24px;
  padding: 0 35px;
  position: relative;
}
.header .mainmenu li.logo_header {
  width: 405px;
  display: flex;
  justify-content: center;
}
.header .mainmenu li.logo_header a {
  color: #ffffff00;
  width: 195px;
  height: 195px;
  display: flex;
  background-size: contain;
  position: absolute;
  z-index: 9;
  top: -18px;
}
.header .header_right .cart_acount {
  display: flex;
  justify-content: flex-end;
}
.header .header_right .cart_acount > div {
  display: flex;
  align-items: center;
}
.header .header_right .cart_acount > div > a {
  display: flex;
}
.header .header_right .cart_acount .cart {
  margin-left: 25px;
}
.header .header_left .ic_ins {
  margin-left: 5px;
}

.header_mobile {
  display: flex;
}
.header_mobile .logo {
  display: flex;
  width: -webkit-max-content;
  width: max-content;
  padding: 10px 0;
}
.header_mobile .logo img {
  max-width: 100px;
}
.header_mobile .menu {
  right: 0;
  position: fixed;
  width: 300px;
  max-width: 90%;
  height: 100vh;
  max-height: 100vh;
  top: 0;
  box-sizing: border-box;
  transition: all 0.6s ease;
  overflow: auto;
  z-index: 9999999999;
  background: #fff;
  /* transform: translateX(100%); */
  /* opacity: 0;*/
}
.header_mobile .menu .logo_header {
  display: none !important;
}
.header_mobile .menu .mainmenu li {
  width: 100%;
  font-weight: 600px;
}
.header_mobile .menu .row {
  margin: 0;
}
.header_mobile .menu .div_acount_mobile {
  background: #ececec;
  padding: 25px 0;
}
.header_mobile .menu .div_acount_mobile .icon_acount {
  padding-right: 0;
}
.header_mobile .menu .div_acount_mobile .icon_acount .fa {
  font-size: 40px;
  color: #8f191c;
}
.header_mobile .menu .div_acount_mobile .display_hover_mobile {
  display: flex;
  padding-left: 0;
}
.header_mobile .menu .div_acount_mobile .display_hover_mobile > div {
  background: #8f191c;
  margin: 0 0 0 10px;
  padding: 5px;
  color: #fff !important;
  border-radius: 4px;
  font-size: 18px !important;
}

@media (max-width: 1890px) {
  .header .header_left .icon {
    display: flex;
  }
}
@media (max-width: 1890px) and (min-width: 1200px) {
  .header .mainmenu li {
    font-size: 20px;
    padding: 0 25px;
  }
  .header .mainmenu li.logo_header a {
    width: 165px;
    height: 165px;
    top: -10px;
  }
  .header .header_left {
    display: flex;
  }
  .header .header_left .icon {
    display: flex;
    width: 25px;
  }
  .header .header_right .cart_acount > div {
    width: 25px;
  }
  .header .header_right .cart_acount .cart {
    margin-left: 15px;
  }
}
@media (max-width: 1199px) and (min-width: 1020px) {
  .header .header_left {
    display: flex;
  }
  .header .header_left .icon, .header .header_right .cart_acount > div {
    width: 18px;
  }
  .header .mainmenu li {
    font-size: 18px;
    padding: 0 15px;
  }
}
@font-face {
  src: url(../font/Akkurat/Akkurat.ttf);
  font-family: Akkurat;
}
@font-face {
  src: url(../font/bauhausstdbold/BauhausStd-Medium.otf);
  font-family: BauhausStd-Medium;
}
@font-face {
  src: url(../font/Font-Myriad-Pro/MYRIADPRO-REGULAR.OTF);
  font-family: MYRIADPRO;
}
body {
  font-family: "Akkurat";
}

.container {
  width: 100%;
  max-width: 1520px;
  margin: auto;
}

.about-page .container {
  max-width: 1230px;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1890px) and (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px !important;
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px !important;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100% !important;
  }
}
footer {
  background: #f9f9f9;
  padding-top: 100px;
}
footer .top_footer .logo_footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
footer .top_footer .logo_footer .logo {
  width: -webkit-max-content;
  width: max-content;
}
footer .top_footer .logo_footer .desc_ft {
  width: calc(100% - 130px);
  font-size: 24px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  height: 100%;
}
footer .top_footer .title {
  font-size: 24px;
  font-family: "BauhausStd-Medium";
  margin-bottom: 50px;
}
footer .top_footer .link_cat_product .list_category {
  display: flex;
  flex-wrap: wrap;
}
footer .top_footer .link_cat_product .list_category .item {
  line-height: 36px;
  width: calc(100%/3);
  font-size: 18px;
  font-weight: 600;
}
footer .top_footer .quick_link li {
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
}
footer .bootom_footer {
  border-top: 1px solid black;
  padding: 0;
  margin-top: 70px;
  padding-top: 55px;
}
footer .bootom_footer p {
  font-size: 24px;
  color: #8f191c;
  line-height: 36px;
  text-align: center;
  width: -webkit-max-content;
  width: max-content;
}
footer .bootom_footer .bootom_footer_right {
  display: flex;
  justify-content: flex-end;
}
footer .bootom_footer .bootom_footer_right .email_number_phone {
  width: -webkit-max-content;
  width: max-content;
}
footer .bootom_footer .bootom_footer_right .email_number_phone p {
  margin: auto;
}
footer .bootom_footer .bootom_footer_center form p {
  width: 100%;
}
footer .bootom_footer .bootom_footer_center form .your-email input {
  height: 50px;
  border: 1px solid #8f191c;
  padding: 0 15px;
  outline: none;
  width: 70%;
}
footer .bootom_footer .bootom_footer_center form .wpcf7-submit {
  display: none;
}
footer .bootom_footer .bootom_footer_center form .icon_submit {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
}
footer .bootom_footer .bootom_footer_center form .icon_submit i {
  color: #8f191c;
  font-size: 25px;
}

@media (max-width: 1890px) and (min-width: 1200px) {
  footer {
    padding-top: 70px;
  }
  footer .top_footer .logo_footer .desc_ft {
    font-size: 18px;
  }
  footer .top_footer .title {
    margin-bottom: 30px;
  }
  footer .top_footer .link_cat_product .list_category .item, footer .top_footer .quick_link li {
    font-size: 14px;
  }
  footer .bootom_footer p {
    font-size: 18px;
  }
}
.slide .content_slide {
  position: absolute;
  background: #fff;
  top: 0;
  right: 0;
  width: 26%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.slide .content_slide .contents img {
  position: absolute;
  right: 0;
  top: 0;
}
.slide .content_slide .contents h1.title {
  font-family: "BauhausStd-Medium";
  font-size: 48px;
  width: -webkit-max-content;
  width: max-content;
}
.slide .content_slide .contents h1.title::after {
  content: "";
  background: black;
  width: 100%;
  display: block;
  height: 1px;
  margin: 45px 0;
}
.slide .content_slide .contents .content {
  font-size: 24px;
}
.slide .content_slide .contents .shop_now {
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  background: #8f191c;
  align-items: center;
  font-size: 18px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 115px;
  border-radius: 5px 0px 0px 5px;
  position: relative;
  font-family: "BauhausStd-Medium";
}
.slide .content_slide .contents .shop_now span {
  position: absolute;
  right: -52px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  background: #8f191c;
  align-items: center;
  font-size: 26px;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
}

.product-home {
  padding-top: 90px;
  background: #f9f9f9;
}
.product-home h1.title {
  font-family: "BauhausStd-Medium";
  font-size: 36px;
  margin-bottom: 65px;
  text-align: center;
}
.product-home .list_product {
  position: relative;
}
.product-home .list_product .swiper-button-next, .product-home .list_product .swiper-container-rtl .swiper-button-prev {
  right: -50px;
  color: #000;
}
.product-home .list_product .swiper-button-prev, .product-home .list_product .swiper-container-rtl .swiper-button-next {
  left: -50px;
  color: #000;
}
.product-home .list_product .swiper-button-next:after, .product-home .list_product .swiper-container-rtl .swiper-button-prev:after, .product-home .list_product .swiper-button-prev:after, .product-home .list_product .swiper-container-rtl .swiper-button-next:after {
  font-size: 25px;
}

.woocommerce ul.products li.product {
  text-align: center;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-family: "BauhausStd-Medium";
  font-size: 24px;
}
.woocommerce ul.products li.product .price {
  color: #8f191c;
  font-size: 18px;
  font-weight: 600;
}

.works {
  background: #fff;
  padding: 80px 0;
}
.works h1.title {
  font-family: "BauhausStd-Medium";
  font-size: 36px;
  margin-bottom: 65px;
  text-align: center;
}
.works .item {
  text-align: center;
}
.works .item h2.title {
  color: #8f191c;
  font-size: 24px;
  margin-top: 40px;
  font-family: "BauhausStd-Medium";
}
.works .item p.content {
  font-size: 18px;
  width: -webkit-max-content;
  width: max-content;
  margin: auto;
}
.works .item p.content::before {
  content: "";
  background: #8f191c;
  width: 110%;
  height: 1px;
  display: block;
  margin: 15px 0;
}

.product_cat {
  background: #f9f9f9;
  padding-top: 80px;
}
.product_cat h1.title {
  font-family: "BauhausStd-Medium";
  font-size: 36px;
  margin-bottom: 65px;
  text-align: center;
}
.product_cat .list_product_cat .title_sp_vnkings {
  height: 60px;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0 15px;
  position: relative;
}
.product_cat .list_product_cat .title_sp_vnkings a {
  font-size: 24px;
  font-family: "BauhausStd-Medium";
}
.product_cat .list_product_cat .title_sp_vnkings a i {
  position: absolute;
  right: 15px;
  font-size: 32px;
}
.product_cat .list_product_cat .title_sp_vnkings a:hover {
  color: #8f191c;
}
.product_cat .list_product_cat .anh_sp_vnkings img {
  display: block;
}
.product_cat .list_product_cat .view_all {
  width: 180px;
  height: 50px;
  display: flex;
  margin: auto;
  justify-content: center;
  background: #8f191c;
  align-items: center;
  font-size: 18px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 115px;
  border-radius: 5px;
  font-family: "BauhausStd-Medium";
}
.product_cat .list_product_cat .item {
  margin-bottom: 20px;
}

.about_us .row {
  margin: 0;
}
.about_us .content_about {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.about_us .content_about .content {
  text-align: center;
}
.about_us .content_about .content .title {
  font-family: "BauhausStd-Medium";
  font-size: 48px;
}
.about_us .content_about .content .desc {
  font-size: 24px;
  line-height: 36px;
}
.about_us .content_about .content .desc::before {
  content: "";
  background: black;
  width: 80%;
  height: 1px;
  display: block;
  margin: auto;
  margin-bottom: 45px;
  margin-top: 45px;
}
.about_us .content_about .content .button a {
  width: 180px;
  height: 50px;
  display: flex;
  margin: auto;
  justify-content: center;
  background: #8f191c;
  align-items: center;
  font-size: 18px;
  color: #fff;
  margin-top: 40px;
  border-radius: 5px;
  font-family: "BauhausStd-Medium";
}
.about_us .image_about {
  padding: 0;
}
.about_us .image_about img {
  width: 100%;
}

@media (max-width: 1890px) and (min-width: 1200px) {
  .slide .content_slide .contents h1.title {
    font-size: 40px;
  }
  .slide .content_slide .contents h1.title:after {
    margin: 30px 0;
  }

  .slide .content_slide .contents .content {
    font-size: 17px;
  }

  .slide .content_slide .contents .shop_now {
    height: 40px;
    font-size: 16px;
  }

  .slide .content_slide .contents .shop_now span {
    height: 40px;
    font-size: 20px;
  }

  .home .slide {
    max-height: 80vh;
    overflow: hidden;
  }

  .product_cat, .product_cat {
    padding-top: 60px;
  }

  .works {
    padding: 60px 0;
  }

  .product_cat .list_product_cat .title_sp_vnkings a i {
    font-size: 23px;
  }

  .about_us .content_about .content .desc::before {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .about_us .content_about .content .desc {
    font-size: 20px;
  }

  .woocommerce ul.products li.product .woocommerce-loop-product__title, .product_cat .list_product_cat .title_sp_vnkings a {
    font-size: 18px;
  }

  .woocommerce ul.products li.product .price {
    font-size: 15px;
  }
}
.about-page .banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-page .banner .content {
  width: -webkit-max-content;
  width: max-content;
  background: #fff;
  position: absolute;
  padding: 25px 15px;
}
.about-page .banner .content .title {
  font-family: "BauhausStd-Medium";
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}
.about-page .banner .content .description {
  font-size: 18px;
  text-align: center;
}
.about-page .content_page .content {
  padding: 85px 0;
}
.about-page .content_page .content .content_right {
  padding-left: 65px;
  display: flex;
  align-items: center;
}
.about-page .content_page .content .content_right .box_content_right .title {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: BauhausStd-Medium;
}
.about-page .content_page .content .content_right .box_content_right .description {
  font-size: 18px;
  line-height: 35px;
  font-family: Akkurat;
}
.about-page .content_page .content .content_right .box_content_right .contact_us {
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  background: #8f191c;
  align-items: center;
  font-size: 18px;
  color: #fff;
  margin-top: 40px;
  border-radius: 5px 0px 0px 5px;
  position: relative;
  font-family: "BauhausStd-Medium";
}
.about-page .content_page .content .content_right .box_content_right .contact_us span {
  position: absolute;
  right: -52px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  background: #8f191c;
  align-items: center;
  font-size: 26px;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
}
.about-page .content_page .content:nth-child(even) {
  background: #f9f9f9;
}
.about-page .content_page .content:nth-child(even) .row {
  flex-direction: row-reverse;
}
.about-page .content_page .content:nth-child(even) .row .content_right {
  padding-left: 0px;
  padding-right: 65px;
}
.about-page .content_page .content:nth-child(even) .row .content_right .box_content_right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
}
.about-page .content_page .content:nth-child(even) .row .content_right .box_content_right .contact_us {
  right: 50px;
}
.about-page .slide_page {
  height: 490px;
  display: flex;
  align-items: center;
  position: relative;
}
.about-page .slide_page .title {
  font-size: 36px;
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
  font-family: BauhausStd-Medium;
}
.about-page .slide_page .icon {
  font-size: 88px;
  line-height: 50px;
  color: #ffffff70;
  font-family: BauhausStd-Medium;
}
.about-page .slide_page .swiper-slide .content {
  width: 830px;
  margin: auto;
  color: #fff;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 24px;
}
.about-page .slide_page .swiper-slide .name {
  text-align: center;
  color: #fff;
}
.about-page .slide_page .swiper-slide .start-ic {
  color: #fff;
  margin-bottom: 5px;
}
.about-page .slide_page .slider {
  width: 100%;
  max-width: 992px;
  margin: auto;
  z-index: 9;
}
.about-page .slide_page .swiper-button-prev:after, .about-page .slide_page .swiper-container-rtl .swiper-button-next:after, .about-page .slide_page .swiper-button-next:after, .about-page .slide_page .swiper-container-rtl .swiper-button-prev:after {
  color: #fff;
  font-size: 20px;
}
.about-page .slide_page::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #8f191c6b;
  position: absolute;
}

.contact-page .banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-page .banner .content {
  width: -webkit-max-content;
  width: max-content;
  background: #fff;
  position: absolute;
  padding: 25px 15px;
}
.contact-page .banner .content .title {
  font-family: "BauhausStd-Medium";
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}
.contact-page .banner .content .description {
  font-size: 18px;
  text-align: center;
}
.contact-page .content_page_contact {
  padding: 90px 0;
}
.contact-page .content_page_contact .contact_form form {
  background: #f9f9f9;
  padding: 45px 200px 45px 65px;
}
.contact-page .content_page_contact .contact_form form h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
.contact-page .content_page_contact .contact_form form .meta {
  font-size: 16px;
}
.contact-page .content_page_contact .contact_form form input {
  height: 50px;
  padding: 15px;
  width: 100%;
}
.contact-page .content_page_contact .contact_form form input, .contact-page .content_page_contact .contact_form form textarea {
  border: 1px solid #8f191c;
  outline: none;
}
.contact-page .content_page_contact .contact_form form .your-message {
  width: 100%;
  margin-top: 30px;
}
.contact-page .content_page_contact .contact_form form .your-message textarea {
  width: 100%;
  padding: 15px;
}
.contact-page .content_page_contact .contact_form form .p-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.contact-page .content_page_contact .contact_form form .p-form .your-name, .contact-page .content_page_contact .contact_form form .p-form .your-email {
  width: calc(50% - 15px);
}
.contact-page .content_page_contact .contact_form form .p-form .your-name {
  margin-right: 30px;
}
.contact-page .content_page_contact .contact_form form .wpcf7-submit {
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  background: #8f191c;
  align-items: center;
  font-size: 18px;
  color: #fff;
  margin-top: 40px;
  border-radius: 5px 0px 0px 5px;
  position: relative;
  font-family: "BauhausStd-Medium";
}
.contact-page .content_page_contact .contact_form form .input_submit {
  position: relative;
}
.contact-page .content_page_contact .contact_form form .input_submit span {
  position: absolute;
  left: 142px;
  top: 0;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  background: #8f191c;
  align-items: center;
  font-size: 26px;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
}
.contact-page .content_page_contact .contact_form_right {
  display: flex;
  align-items: center;
}
.contact-page .content_page_contact .contact_form_right .back-color {
  width: 100%;
  position: relative;
}
.contact-page .content_page_contact .contact_form_right .back-color .information_form {
  width: 100%;
  position: relative;
  left: -65px;
  left: -69px;
  background: #fff;
  z-index: 99;
  padding: 75px 15px 15px 75px;
}
.contact-page .content_page_contact .contact_form_right .back-color .information_form p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 60px;
}
.contact-page .content_page_contact .contact_form_right .back-color .information_form p span {
  font-size: 18px;
  color: #747474;
  margin-bottom: 15px;
  display: flex;
}
.contact-page .content_page_contact .contact_form_right .back-color:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 25px;
  left: -45px;
  display: block;
  background: #901a1d;
}

.category-page .banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-page .banner .content {
  width: -webkit-max-content;
  width: max-content;
  background: #fff;
  position: absolute;
  padding: 25px 15px;
}
.category-page .banner .content .title {
  font-family: "BauhausStd-Medium";
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}
.category-page .banner .content .description {
  font-size: 18px;
  text-align: center;
}
.category-page .introduce_shop {
  padding: 85px 0;
}
.category-page .introduce_shop .box_introduce {
  position: relative;
  height: 100%;
}
.category-page .introduce_shop .box_introduce img {
  width: 100%;
  height: auto;
  display: block;
}
.category-page .introduce_shop .box_introduce .content {
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);
  height: 35%;
  background: #ffffff85;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 75px;
}
.category-page .introduce_shop .box_introduce .content .title {
  font-family: "BauhausStd-Medium";
  font-size: 40px;
  margin-bottom: 20px;
}
.category-page .introduce_shop .box_introduce .content .description {
  font-size: 18px;
}
.category-page .introduce_shop .box_introduce .content .shop_now {
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  background: #8f191c;
  align-items: center;
  font-size: 18px;
  color: #fff;
  border-radius: 5px 0px 0px 5px;
  position: absolute;
  right: 95px;
  font-family: "BauhausStd-Medium";
}
.category-page .introduce_shop .box_introduce .content .shop_now span {
  position: absolute;
  right: -52px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  background: #8f191c;
  align-items: center;
  font-size: 26px;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
}
.category-page .introduce_shop .box_introduce .content:hover .title, .category-page .introduce_shop .box_introduce .content:hover .description {
  color: #8f191c;
}
.category-page .our_collectionS {
  background: #f9f9f9;
  padding-top: 80px;
}
.category-page .our_collectionS h1.title {
  font-family: "BauhausStd-Medium";
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}
.category-page .our_collectionS .list_product_cat img {
  width: 100%;
}
.category-page .our_collectionS .list_product_cat .title_sp_vnkings {
  height: 60px;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0 15px;
  position: relative;
}
.category-page .our_collectionS .list_product_cat .title_sp_vnkings a {
  font-size: 24px;
  font-family: "BauhausStd-Medium";
}
.category-page .our_collectionS .list_product_cat .title_sp_vnkings a i {
  position: absolute;
  right: 15px;
  font-size: 32px;
}
.category-page .our_collectionS .list_product_cat .title_sp_vnkings a:hover {
  color: #8f191c;
}
.category-page .our_collectionS .list_product_cat .anh_sp_vnkings img {
  display: block;
}
.category-page .our_collectionS .list_product_cat .view_all {
  width: 180px;
  height: 50px;
  display: flex;
  margin: auto;
  justify-content: center;
  background: #8f191c;
  align-items: center;
  font-size: 18px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 115px;
  border-radius: 5px;
  font-family: "BauhausStd-Medium";
}
.category-page .our_collectionS .list_product_cat .item {
  margin-bottom: 20px;
}
.category-page .Shop_by_Room {
  padding-top: 85px;
}
.category-page .Shop_by_Room h1.title {
  font-size: 36px;
  font-family: "BauhausStd-Medium";
  margin-bottom: 50px;
  text-align: center;
}
.category-page .Shop_by_Room .box_introduce_first {
  max-height: 675px;
  overflow: hidden;
}
.category-page .Shop_by_Room .item {
  position: relative;
}
.category-page .Shop_by_Room .item img {
  display: block;
}
.category-page .Shop_by_Room .item .content {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 0 0 30px 45px;
}
.category-page .Shop_by_Room .item .content .number, .category-page .Shop_by_Room .item .content .title, .category-page .Shop_by_Room .item .content .description {
  margin-bottom: 20px;
}
.category-page .Shop_by_Room .item .content .title {
  font-family: "BauhausStd-Medium";
  font-size: 24px;
}
.category-page .Shop_by_Room .item .content .Learn_More {
  font-family: "BauhausStd-Medium";
  font-size: 16px;
  width: -webkit-max-content;
  width: max-content;
  position: relative;
}
.category-page .Shop_by_Room .item .content .Learn_More:after {
  content: "";
  background: #fff;
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
}
.category-page .Shop_by_Room .item .content .Learn_More span {
  margin-left: 10px;
}
.category-page .Shop_by_Room .item-1 .content {
  padding: 0 0 60px 75px;
}
.category-page .Shop_by_Room .item-1 .content .title {
  font-size: 60px;
}
.category-page .Shop_by_Room .item-1 .content .Learn_More {
  font-size: 16px;
}
.category-page .Shop_by_Room .item-2 {
  margin-bottom: 40px;
}
.category-page .works {
  background: #fff;
  padding: 80px 0;
}
.category-page .works h1.title {
  font-family: "BauhausStd-Medium";
  font-size: 48px;
  margin-bottom: 50px;
  text-align: center;
}
.category-page .works .item {
  text-align: center;
}
.category-page .works .item h2.title {
  color: #8f191c;
  font-size: 24px;
  margin-top: 40px;
  font-family: "BauhausStd-Medium";
}
.category-page .works .item p.content {
  font-size: 18px;
  width: -webkit-max-content;
  width: max-content;
  margin: auto;
}
.category-page .works .item p.content::before {
  content: "";
  background: #8f191c;
  width: 110%;
  height: 1px;
  display: block;
  margin: 15px 0;
}

.post-type-archive-product .banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-type-archive-product .banner .content {
  width: -webkit-max-content;
  width: max-content;
  background: #fff;
  position: absolute;
  padding: 25px 100px;
}
.post-type-archive-product .banner .content .title {
  font-family: "BauhausStd-Medium";
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}
.post-type-archive-product .banner .content .description {
  font-size: 18px;
  text-align: center;
}

@media (max-width: 1890px) and (min-width: 1200px) {
  .category-page .banner .content .title, .about-page .banner .content .title, .contact-page .banner .content .title {
    font-size: 40px;
  }

  .category-page .banner .content, .about-page .banner .content, .contact-page .banner .content {
    padding: 10px 15px;
    top: 35%;
  }

  .category-page .introduce_shop .box_introduce .content .title {
    font-size: 30px;
  }

  .category-page .introduce_shop .box_introduce .content {
    padding: 15px 15px 15px 45px;
  }

  .category-page .introduce_shop .box_introduce .content .shop_now {
    width: 115px;
    height: 40px;
    font-size: 15px;
  }

  .category-page .introduce_shop .box_introduce .content .shop_now span {
    height: 40px;
    font-size: 20px;
  }

  .category-page .our_collectionS, .category-page .Shop_by_Room {
    padding-top: 60px;
  }

  .category-page .our_collectionS .list_product_cat .title_sp_vnkings a {
    font-size: 18px;
  }

  .category-page .Shop_by_Room .item-1 .content .title {
    font-size: 45px;
  }

  .category-page .works h1.title {
    font-size: 38px;
  }

  .category-page .our_collectionS .list_product_cat .view_all {
    margin-bottom: 70px;
  }

  .contact-page .content_page_contact .contact_form_right .back-color .information_form p span {
    font-size: 16px;
  }

  .contact-page .content_page_contact .contact_form_right .back-color .information_form p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .contact-page .content_page_contact .contact_form form {
    padding: 45px 95px 45px 65px;
  }
}
.woocommerce .banner_top .banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.woocommerce .banner_top .banner .content {
  width: -webkit-max-content;
  width: max-content;
  background: #fff;
  position: absolute;
  padding: 25px 15px;
  top: 35%;
}
.woocommerce .banner_top .banner .content .title {
  font-family: "BauhausStd-Medium";
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}
.woocommerce .banner_top .banner .content .description {
  font-size: 18px;
  text-align: center;
}
.woocommerce .banner_content {
  position: relative;
  display: flex;
  align-items: center;
}
.woocommerce .banner_content .content-banner {
  position: absolute;
  padding-left: 50px;
}
.woocommerce .banner_content .content-banner .title {
  font-family: "BauhausStd-Medium";
  font-size: 30px;
  margin-bottom: 20px;
  color: #901a1d;
}
.woocommerce .banner_content .content-banner .description {
  font-size: 16px;
  color: #fff;
  line-height: 25px;
}

p.breadcrumbs {
  font-size: 18px;
  font-weight: 600;
  margin: 115px 0 80px 0;
  color: #8a8989;
}
p.breadcrumbs .breadcrumb_last {
  color: #333;
  margin-left: 10px;
}
p.breadcrumbs a {
  margin: 0 10px;
}

.single-product.woocommerce-page div.product div.images, .single-product.woocommerce-page div.product div.summary {
  width: 100%;
}
.single-product.woocommerce-page .thumbnail_left .flex-viewport {
  max-height: 380px;
  margin-bottom: 20px;
}
.single-product.woocommerce-page .infomation_right {
  padding-left: 55px;
}
.single-product.woocommerce-page .infomation_right form.cart .wcpa_form_outer .wcpa_row .wcpa_form_id_341 {
  display: flex;
}
.single-product.woocommerce-page .infomation_right form.cart .wcpa_form_outer .wcpa_row .wcpa_form_item:first-child > label {
  margin-right: 25px;
  min-width: 135px;
}
.single-product.woocommerce-page .infomation_right form.cart .wcpa_form_outer .wcpa_row .wcpa_form_id_341 #text-1613652603378 {
  color: #8f191c;
  font-size: 30px;
  line-height: 24px;
  font-weight: 600;
}
.single-product.woocommerce-page .infomation_right form.cart .wcpa_form_outer .wcpa-col-2 {
  width: 39.5%;
}
.single-product.woocommerce-page .tabs_product {
  background: #f9f9f9;
  padding: 70px 0 180px;
}
.single-product.woocommerce-page .tabs_product .nice_fit_in_these_rooms {
  position: relative;
}
.single-product.woocommerce-page .tabs_product .nice_fit_in_these_rooms .title {
  font-size: 24px;
  font-family: "BauhausStd-Medium";
  text-align: center;
  margin: 50px 0;
}
.single-product.woocommerce-page .tabs_product .nice_fit_in_these_rooms .swiper-button-next.swiper-button-disabled, .single-product.woocommerce-page .tabs_product .nice_fit_in_these_rooms .swiper-button-prev.swiper-button-disabled {
  top: calc(100% + 60px);
  background: #e4cccd;
  opacity: 1;
  width: 70px;
  height: 70px;
}
.single-product.woocommerce-page .tabs_product .nice_fit_in_these_rooms .swiper-button-next:after, .single-product.woocommerce-page .tabs_product .nice_fit_in_these_rooms .swiper-container-rtl .swiper-button-prev:after, .single-product.woocommerce-page .tabs_product .nice_fit_in_these_rooms .swiper-button-prev:after, .single-product.woocommerce-page .tabs_product .nice_fit_in_these_rooms .swiper-container-rtl .swiper-button-next:after {
  font-size: 25px;
  color: #8f191c;
}
.single-product.woocommerce-page .tabs_product .nice_fit_in_these_rooms .swiper-button-next.swiper-button-disabled {
  right: calc(50% - 80px);
}
.single-product.woocommerce-page .tabs_product .nice_fit_in_these_rooms .swiper-button-prev.swiper-button-disabled {
  left: calc(50% - 80px);
}
.single-product.woocommerce-page .tabs_product .list_these_rooms .item .content {
  text-align: center;
}
.single-product.woocommerce-page .tabs_product .list_these_rooms .item .content .title {
  font-family: "BauhausStd-Medium";
  font-size: 18px;
  margin: 15px 0;
}
.single-product.woocommerce-page .tabs_product .list_these_rooms .item .content .description {
  font-size: 16px;
  line-height: 25px;
}
.single-product.woocommerce-page .related_product {
  position: relative;
}
.single-product.woocommerce-page .related_product .container {
  position: relative;
}
.single-product.woocommerce-page .related_product section.related > h2 {
  font-size: 36px;
  font-family: "BauhausStd-Medium";
  text-align: center;
  margin: 80px 0 70px 0;
}
.single-product.woocommerce-page .related_product .swiper-button-next, .single-product.woocommerce-page .related_product .swiper-button-prev {
  color: #333;
}
.single-product.woocommerce-page .related_product .swiper-button-next {
  right: -40px;
  opacity: 1;
}
.single-product.woocommerce-page .related_product .swiper-button-prev {
  left: -40px;
  opacity: 1;
}
.single-product.woocommerce-page .related_product .swiper-button-prev:after, .single-product.woocommerce-page .related_product .swiper-button-next:after {
  font-size: 25px;
}

.single-product-content {
  padding: 0 0 80px;
}
.single-product-content nav.woocommerce-breadcrumb {
  font-size: 18px;
  color: #181818;
}
.single-product-content nav.woocommerce-breadcrumb a {
  color: #808080;
}
.single-product-content .product.type-product {
  margin-top: 80px;
}
.single-product-content .product.type-product .summary .product_title {
  font-size: 30px;
  font-family: BauhausStd-Medium;
  color: #181818;
  margin-bottom: 15px;
}
.single-product-content .product.type-product .summary .woocommerce-product-details__short-description {
  color: #181818;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 30px;
}
.single-product-content .product.type-product .summary .price {
  color: #8f191c;
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
}
.single-product-content .product.type-product .summary .single_add_to_cart_button {
  background-color: #8f191c;
  font-family: BauhausStd-Medium;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
.single-product-content form.cart label {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #7d7d7d;
}
.single-product-content form.cart #text-1613652603378 {
  border: none;
}
.single-product-content .wcpa_form_outer .wcpa_form_item select, .single-product-content .wcpa_form_outer .wcpa_form_item input[type=number] {
  width: 80px;
  height: 40px;
  border-radius: 10px;
}

.box-sort-phone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0 50px;
}
.box-sort-phone .woocommerce-ordering {
  float: none;
  margin: 0;
}
.box-sort-phone .woocommerce-ordering .orderby {
  outline: none;
  border: 2px solid #e9d1d2;
  border-radius: 0;
  height: 48px;
  color: #901a1d;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-appearance: none;
          appearance: none;
  max-width: 200px;
}
.box-sort-phone .box-sort {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.box-sort-phone .box-sort:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #901a1d;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.box-sort-phone .box-sort span {
  display: inline-block;
  font-size: 18px;
  color: #181818;
  font-family: BauhausStd-Medium;
  margin-right: 15px;
}
.box-sort-phone .box-phone {
  text-align: right;
}
.box-sort-phone .box-phone span {
  display: block;
  font-size: 16px;
  color: #181818;
  font-family: BauhausStd-Medium;
}
.box-sort-phone .box-phone .phones {
  font-family: BauhausStd-Medium;
  font-size: 24px;
  color: #901a1d;
}

.woocommerce nav.woocommerce-pagination ul {
  border: none;
}
.woocommerce nav.woocommerce-pagination ul li {
  border: none;
  margin: 0 2px;
}
.woocommerce nav.woocommerce-pagination ul li a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
  color: #181818;
}
.woocommerce nav.woocommerce-pagination ul li a:hover {
  background: transparent;
  color: #181818;
}
.woocommerce nav.woocommerce-pagination ul li span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.woocommerce nav.woocommerce-pagination ul li span.current {
  background: #901a1d;
  color: #fff;
}

.woocommerce .widget_price_filter, .woocommerce .woocommerce-widget-layered-nav, .woocommerce .widget_product_categories {
  background-color: #f9f9f9;
}
.woocommerce .widget_price_filter .ui-slider, .woocommerce .woocommerce-widget-layered-nav .ui-slider, .woocommerce .widget_product_categories .ui-slider {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 35px;
}
.woocommerce .widget_price_filter .widget-title, .woocommerce .woocommerce-widget-layered-nav .widget-title, .woocommerce .widget_product_categories .widget-title {
  background-color: #e9d1d2;
  padding: 10px 35px;
  font-family: BauhausStd-Medium;
  color: #181818;
  font-size: 22px;
  position: relative;
}
.woocommerce .widget_price_filter .widget-title:before, .woocommerce .woocommerce-widget-layered-nav .widget-title:before, .woocommerce .widget_product_categories .widget-title:before {
  content: "";
  width: 12px;
  height: 12px;
  border-bottom: 1px solid #901a1d;
  border-right: 1px solid #901a1d;
  position: absolute;
  right: 35px;
  top: calc(50% - 2px);
  transform: translateY(-50%) rotate(45deg);
}
.woocommerce .widget_price_filter .ui-slider-horizontal, .woocommerce .woocommerce-widget-layered-nav .ui-slider-horizontal, .woocommerce .widget_product_categories .ui-slider-horizontal {
  height: 4px;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-handle:nth-child(2), .woocommerce .woocommerce-widget-layered-nav .ui-slider-horizontal .ui-slider-handle:nth-child(2), .woocommerce .widget_product_categories .ui-slider-horizontal .ui-slider-handle:nth-child(2) {
  display: none;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce .woocommerce-widget-layered-nav .price_slider_wrapper .ui-widget-content, .woocommerce .widget_product_categories .price_slider_wrapper .ui-widget-content {
  background-color: #b5b5b5;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce .woocommerce-widget-layered-nav .ui-slider .ui-slider-range, .woocommerce .widget_product_categories .ui-slider .ui-slider-range {
  background-color: #b5b5b5;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range:before, .woocommerce .woocommerce-widget-layered-nav .ui-slider .ui-slider-range:before, .woocommerce .widget_product_categories .ui-slider .ui-slider-range:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #b5b5b5;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce .woocommerce-widget-layered-nav .ui-slider .ui-slider-handle, .woocommerce .widget_product_categories .ui-slider .ui-slider-handle {
  background-color: #901a1d;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.woocommerce .widget_price_filter .price_slider_wrapper, .woocommerce .woocommerce-widget-layered-nav .price_slider_wrapper, .woocommerce .widget_product_categories .price_slider_wrapper {
  padding: 40px 35px;
}
.woocommerce .widget_price_filter .price_slider_amount, .woocommerce .woocommerce-widget-layered-nav .price_slider_amount, .woocommerce .widget_product_categories .price_slider_amount {
  text-align: left;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce .woocommerce-widget-layered-nav .price_slider_amount .button, .woocommerce .widget_product_categories .price_slider_amount .button {
  float: none;
}
.woocommerce .widget_price_filter .price_slider_amount .clear, .woocommerce .woocommerce-widget-layered-nav .price_slider_amount .clear, .woocommerce .widget_product_categories .price_slider_amount .clear {
  display: none;
}
.woocommerce .widget_price_filter .price_slider_amount .price_label, .woocommerce .woocommerce-widget-layered-nav .price_slider_amount .price_label, .woocommerce .widget_product_categories .price_slider_amount .price_label {
  font-size: 18px;
  color: #181818;
}
.woocommerce .widget_price_filter .price_slider_amount .price_label span, .woocommerce .woocommerce-widget-layered-nav .price_slider_amount .price_label span, .woocommerce .widget_product_categories .price_slider_amount .price_label span {
  opacity: 0.8;
}
.woocommerce #yith-woo-ajax-reset-navigation-2 {
  display: none;
}
.woocommerce .woocommerce-widget-layered-nav-list, .woocommerce .product-categories {
  padding: 20px 35px 40px;
}
.woocommerce .woocommerce-widget-layered-nav-list li, .woocommerce .product-categories li {
  font-size: 18px;
  color: #181818;
}
.woocommerce .woocommerce-widget-layered-nav-list li a, .woocommerce .product-categories li a {
  min-width: 50%;
  display: inline-block;
}

.archive p.breadcrumbs {
  margin: 40px 0 30px 0;
}